body {
	margin:0;
	font-family:"Roboto", sans-serif;
	display:grid;
	place-items:center;
	min-block-size:100vh;

	background: #000428;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 
}

.mdc-card {
	color:black;
	width:30em;
	margin:16px;
	padding:1em;
	hr {
		width:100%
	}
}
